/* Google Fonts */
@import url('https://googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --main-color: #008148;
    --second-color: #1e3932;
}
section{
    padding: 50px 10%;
}
*::selection{
    color: #fff;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e78432;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    gap: 1rem;
}
.home-text {
    flex: 1 1 17rem;
}
.home-img{
    flex: 1 1 25rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(0, -11px);
    }
    50%{
        transform: translate(-11px, -0px);
    }
    100%{
        transform: translate(0, -11px);
    }
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.home-text h1{
    font-family: cursive;
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 540;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}
.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    color: #fff;
    background: var(--second-color);
}
.heading{
    text-align: center;
    text-transform: uppercase;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}
.shop{
    background-color: #ebdbc8;
}
.shop-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.shop-container .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.shop-container .box .box-img{
    width: 190px;
    height: 150px;
    margin-top: -100px;
}
.shop-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.shop-container .box h2{
    color: #ebdbc8;
    font-size: 1.2rem;
}
.shop-container .box span{
    color: #ebdbc7;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}
.box .btn{
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}
.box .btn:hover{
    background: #ebdbc8;
    color: var(--second-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.delivery-img,
.app-img{
    flex: 1 1 21rem;
}
.delivery-text,
.app-text {
    flex: 1 1 21rem;
}
.delivery-text h2,
.app-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.delivery-text p,
.app-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.about-us{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    background: #ebdbc8;
}
.about-img{
    flex: 1 1 32rem;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9797e7;
}
.social-icon{
    display: inline-flex;
}
.social-icon .icon{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social-icon .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.social-icon .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.social-icon .icon:hover span{
    color: #fff;
}
.social-icon .icon .tooltip{
    position: absolute; 
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social-icon .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.social-icon .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.social-icon .icon:hover span,
.social-icon .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social-icon .facebook:hover span,
.social-icon .facebook:hover .tooltip,
.social-icon .facebook:hover .tooltip::before{
    background: #3B5999;
}
.social-icon .twitter:hover span,
.social-icon .twitter:hover .tooltip,
.social-icon .twitter:hover .tooltip::before{
    background: #46C1F6;
}
.social-icon .instagram:hover span,
.social-icon .instagram:hover .tooltip,
.social-icon .instagram:hover .tooltip::before{
    background: #e1306c;
}
.social-icon .youtube:hover span,
.social-icon .youtube:hover .tooltip,
.social-icon .youtube:hover .tooltip::before{
    background: #DE463B;
}
.links{
    margin: 1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.links a:hover{
    color: var(--main-color);
}
.contact p{
    text-align: center;
}
@media (max-width:1150px){
    header{
        padding: 18px 7%;
    }
    ::selection{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}
@media (max-width:991px){
    header{
        padding: 18px 4%;
    }
    ::selection{
        padding: 50px 4%;
    }
}
@media (max-width:768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon {
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }
    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
    .home-texth2{
        font-size: 1.2rem;
    }
}
@media (max-width:768px){
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .about {
        flex-direction: column-reverse;
    }
}
@media (max-width: 364px) {
    .links {
        display: flex;
        flex-direction: column;
    } 
}